<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.camerax.lib" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".CameraXActivity"
            android:theme="@style/NoTitleTheme"/>

        <activity android:name=".VideoXActivity"
            android:theme="@style/NoTitleTheme"/>
    </application>
</manifest>
